html, body {
    background-color: black;
}

.bg-banniere {
    position: relative;
    object-fit: cover;
    margin: auto;
    width: 968px;
    background-color: black;
    display: flex;
    justify-content: center;
}

/* accueil debut */

#oricam__h1, 
#oricam__h2 {
    color: black;
    text-shadow: rgb(255, 255, 255) 0em -0.05em 0.05em;
    position: absolute;
    
}

#oricam__h1 {
    font-size: 2.5rem;
    left: 1rem;
}

#oricam__h2 {
    font-size: 6rem;
    top: 13rem;
    left: 2rem;
}

body {
    margin: auto;
}

.container-fluid {
    padding: 0px;
    background-color: black;
}

h1, h2, h3, h4, h5 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Comfortaa', cursive;
}


#camera-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

.card {
    margin: 20px;
}

footer {
    background-color: black;
}

footer h5 {
    color: white;
}

#footer_paiement i {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.footer_div_centrale {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1680px;
    margin: 0 auto;
    margin-top: 25px;
}

.footer__section {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0px 10px;
    margin-top: 30px;
    margin-left: 30px;
}

.into-header {
    padding-top: 2rem;
    margin-bottom: 3rem;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header i {
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

.oricam {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 30px;
}

/* accueil fin */

/* Panier debut */


.panier {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1024px;
    margin: auto;
    background-color: black;
    color: white;
}

#sectionbloc {
    width: 90%;
}
.articles-titre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 310px;
    width: 100%;
    border: 2px solid rgb(124, 5, 5);
}

#liste-panier {
    display: flex;
    flex-direction: column;
    align-items: stretch§;
    height: auto;
    min-height: 120px;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 2px solid rgb(124, 5, 5);
    box-shadow: 0 0 25px rgb(248, 245, 245);
}

#sectionFormulaire {
    width: 80%;
    min-width: 320px;
    margin: 25px auto;
} 

#contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 310px;
    margin: 25px auto 0 auto;
}

.cache {
    display: none;
}

#firstN, #lastN, #addrS, #citY, #emaiL {
    color: rgb(240, 64, 64);
    height: auto;
    width: max-content;
}

input {
    font-family: 'Comfortaa', cursive;
    font-size: 1.1em;
    height: 50px;
    width: 100%;
    min-width: 310px;
    margin: 55px auto 0 auto;
    outline: none;
    padding-left: 130px;
    border: 2px solid #111827;
    border-radius: 6px;
}

label{
    z-index: 1000;
    color: black;
    align-self: flex-start;
    font-size: 1em;
    letter-spacing: .10em;
    font-weight: 600;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: -92px;
}

button {
    margin-top: 25px;
    height: 50px;
    width: 200px;
    background-color: #c1b0f5;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: 800;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.nb-articles {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: #ff4931;
    line-height: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: -12px;
    bottom: -10px;
}

/* Panier fin */

/* produit debut */

.article {
    flex-direction: column;
    height: 100%;
}

#article-img {
    height: 450px;
    margin: 0 auto;
}

.card-title, .card-text, .card-price {
    color: black;
}

a.retour {
    margin: auto;
    z-index: 1000;
    color: #acaaaa;
    display: block;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    font-weight: 600;
    line-height: 50px;
    border: 1px solid #acaaaa;
    margin-bottom: 25px;
}

/* produit fin */